# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
.*.sw?
.*.o.d
.*.cmd
.DS_Store

# vagranty bits
.vagrant/
tmp/

# module building gunk
.tmp_versions
modules.order
Module.symvers
xiafs.ko
xiafs.mod.c

# built utilities
mkxfs
xfsck

# patch mishaps
*.rej
*.orig
